.foots{
  background-color: #1eb2a6;
  padding: 60px 30px;
}
.foot{
  display: flex;
  align-items: center;
  justify-content: center;
}
.news{
  color: white;
  width: 600px;
  line-height: 36px;
  font-family: Arial;
  font-size: 30px;
  margin-bottom: 10px;
}
.mask{
  color: #ffffffcc;
  font-family: Arial;
}
.send{
  display: flex;
  align-items: center;
}
.send input::placeholder{
  font-family: Arial;
  font-size: 17px;
  color: white;
}
.send input{
  background: transparent;
  border-color: none;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: red;
  padding: 10px 10px 10px 0px;
  outline: none;
  width: 300px;
  border-bottom: #ffffffcc solid 1px;
  color: white;
}
.send input:focus{
  border-color: none;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom-color: #ffffffcc;
}
.send label{
  background-color: #1eb2a6;
  width: 20px;
}
.send label i{
  color: white;
  border-bottom-color: #ffffffcc;
  border-bottom: #ffffffcc 1px solid;
  padding: 10px 10px 8px 10px;
  cursor: pointer;
}

.north{
  background-color: #eeeeee;
  padding: 50px;
}
.south{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.honest{
  margin-right: 50px;
}
.tonight{
  margin-bottom: 45px;
}
.liars{
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Roboto";
}
.jail{
  font-size: 12px;
  font-weight: 700;
  color: #1eb2a6;
  text-transform: uppercase;
  font-family: Arial;
  letter-spacing: -1px;
}
.help{
  color: #999999;
  font-family: Arial;
  line-height: 28px;
  margin-bottom: 20px;
  width: 220px;
}
.mind i{
  margin-right: 8px;
  padding: 10px;
  color: white;
  background-color: #1eb2a6;
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;
}

.port{
  margin-right: 20px;
}
.have{
  font-family: Arial;
  margin-bottom: 40px;
}
.conditions{
  display: flex;
  margin-bottom: 15px;
}
.conditions i{
  font-size: 19px;
  color: #1eb2a6;
  margin-right: 6px;
}
.fans{
  color: #666666;
  font-family: Arial;
  cursor: pointer;
}
.fans:hover{
  color: #1eb2a6;
  transition-duration: 0.3s;
}

.inspire{
  display: flex;
  width: 200px;
  margin-bottom: 26px;
}
.inspire img{
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.jan{
  width: fit-content;
  display: flex;
  margin-bottom: 10px;
}
.push{
  color: #1eb2a6;
  font-family: Arial;
  font-size: 12px;
}
.push i{
  margin-right: 2px;
}

.paper{
  display: flex;
  margin-bottom: 30px
}
.paper i{
  color: #1eb2a6;
  margin-right: 20px;
  font-size: 15px;
}
.fake{
  color: #000000cc;
  font-family: Arial;
  width: 200px;
  font-size: 15px;
}
.spare{
  color: #000000cc;
  font-family: Arial;
  width: 200px;
  font-size: 15px;  
  cursor: pointer;
}
.spare{
  color: #1eb2a6;
  transition-duration: 0.3s;
}
