.heads{
  background-image: url(../img/bg_1.jpg.webp);
  background-size: 1370px;
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  margin-bottom: 0px;
  /* background-color: red; */
}
.academias{
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", Arial;
}
.academia{
  font-size: 30px;
  font-family: "Roboto", serif ;
  font-optical-sizing: auto;
  font-weight: 889;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
}
.academia:hover{
  transition-duration: 0.5s;
  color: #1eb2a6;
}
.online{
  font-size: small;
  font-weight: 100;
}
.clocks{
  color: white;
  text-align: center;
  display: flex;
  align-items: start;
  position: relative;
  margin-right: 50px;
}
.clocks i{
  font-size: 45px;
  display: flex;
}
.days{
  text-align: left;
  margin-left: 10px;
  font-family: "Roboto", Arial;
}
.day{
  margin-bottom: 2px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 100;
}
.icon{
  margin-right: 13px;
}
.icon i{
  color: #1eb2a6;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff33;
}
.icon i:hover{
  transition-duration: 0.5s;
  color: white;
  background-color: #1eb2a6;
}

.heading{
  background-color: rgba(248, 248, 248, 0.2);
  margin: 0px 20px;
  position: relative;
  /* padding: 23px 0px 16px 16px; */
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 66px;
}
.words{
  display: flex;
  align-items: center;
  padding: 6px 32px;
  width: 900px;
}
.word{
  color: #1eb2a6;
  cursor: pointer;
  margin-right: 50px;
  font-family: Arial;
  font-weight: 500;
  font-size: 16px;
}
.wro{
  font-size: 16px;
  font-family: Arial;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin-right: 50px;
}
.cuts{
  width: 230px;
  max-height: 50px;
}
.cot{
  background-color: #1eb2a6;
  padding: 32.5px;
  width: 20px;
  transform: skewX(-10deg);
  position: absolute;
}
.cut{
  right: 0;
  top: 1;
  position: absolute;
  display: inline-block;
  z-index: 1;
  font-family: "Roboto", Arial;
  background-color: #1eb2a6;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  width: 160px;
  padding: 23px 22.5px;
}
.hidden-menu{
  display: none;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-family: Arial;
  letter-spacing: 0.5;
  text-align: center;
  padding: 22px 5px;
}