.welcoming{
  padding: 120px;
  margin-top: -30px;
}
.welcome{
  color: #ffffffb3;
  text-transform: uppercase;
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 750;
  margin-bottom: 20px;
  font-family: Arial;
}
.best{
  font-size: 40px;
  width: 500px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Roboto", Arial;
}
.far{
  color: #ffffffcc;
  width: 490px;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 27px;
  font-family: Arial;
}
.box{
  display: flex;
  align-items: center;
}
.start{
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #1eb2a6;
  width: 190px;
  padding: 16px 0px 16px 22px;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.start i{
  margin-left: 15px;
  font-size: 19px;
}
.start:hover{
  box-shadow: none;
  transition-duration: 0.6s;
}
.view{
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  width: 140px;
  padding: 16px 16px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  color: #1eb2a6;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Roboto", Arial;
}
.view i{
  margin-left: 15px;
  font-size: 19px;
}
.view:hover{
  box-shadow: none;
  transition-duration: 0.6s;
}

.about{
  display: flex;
  height: 700px;
  padding: 200px 100px;
  justify-content: space-between;
}
.sub{
  width: 900px;
  margin-left: -200px;
  margin-right: 40px;
  height: 1000px;
  background-image: url(../img/about.jpg.webp);
  background-repeat: no-repeat;
  background-size: 1000px;
}
.us{
  padding: 70px 0px;
  /* background-color: blue; */
}
.i{
  font-weight: bold;
  text-transform: uppercase;
  color: #1eb2a6;
  font-size: larger;
  font-family: "Roboto", Arial;
  margin-bottom: 20px;
}
.benefit{
  font-size: 40px;
  font-family: "Roboto";
  width: 500px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 30px;
}
.me{
  display: flex;
  width: 500px;
  cursor: normal;
  padding: 20px;
  margin-bottom: 10px;
}
.me:hover{
  background-color: #1eb2a6;
  transition-duration: 0.5s;
}
.me:hover .it i{
  color: white;
}
.me:hover .courses{
  color: white;
}
.me:hover .how{
  color: white;
}
.it i{
  margin-right: 10px;
  font-size: 60px;
  color: #1eb2a6;
}
.sep{
  display: grid;
  grid-template-columns: 1fr;
}
.courses{
  color: #000000cc;
  font-size: 20px;
  font-family: Arial;
  font-weight: 500;
  margin-bottom: 15px;
}
.how{
  color: #999999;
  font-size: 16px;
  line-height: 26px;
  width: 400px;
  font-family: Arial;
}